.blog-page {
  position: relative;
  &__box {
    position: relative;
    display: flex;
    // align-items: flex-start;
    justify-content: space-between;
    @include response(1200px) {
      display: block;
    }
  }
  &__content {
    position: relative;
    flex: 0 0 842px;
    max-width: 842px;
    width: 100%;
    @include response(1200px) {
      max-width: 100%;
    }
  }
  &__text {
    position: relative;
    margin-bottom: 40px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__aside {
    position: relative;
    flex: 0 0 362px;
    max-width: 362px;
    width: 100%;
    @include response(1200px) {
      display: none;
    }
  }
  &__aside-box {
    position: relative;
    border: 1px solid #e1e1e7;
    border-radius: 12px;
    overflow: hidden;
    margin-bottom: 20px;
  }
  &__aside-row {
    position: relative;
    border-bottom: 1px solid #e1e1e7;
    &:last-child {
      border-bottom: 0;
    }
  }
  &__aside-row-title {
    position: relative;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    padding: 12px 25px 8px;
  }
  &__aside-list {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  &__aside-list-item {
    position: relative;
    border-bottom: 1px solid #e1e1e7;
    &:last-child {
      border-bottom: 0;
    }
  }
  &__aside-list-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 12px 24px;
    transition: 0.3s ease-in-out;
    @include desktop-hover() {
      background: #f8fafd;
    }
    img {
      position: relative;
      flex: 0 0 26px;
      width: 26px;
      margin-right: 20px;
    }
    span {
      font-weight: 600;
      font-size: 16px;
      line-height: 150%;
      color: #183b56;
    }
  }
  &__aside-img {
    position: relative;
    border-bottom: 1px solid #e1e1e7;
    overflow: hidden;
    img {
      width: 100%;
    }
    &--sticky {
      border-radius: 8px;
      border: 1px solid #e1e1e7;
    }
  }
}
