.featured {
  position: relative;
  padding-top: 60px;
  padding-bottom: 80px;
  @include response(1200px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  &__sub {
    position: relative;
  }
  &__title {
    position: relative;
  }
  &__text {
    color: #5a7184;
  }
  &__box {
    position: relative;
    display: flex;
    align-items: center;
    @include response(1200px) {
      display: block;
    }
  }
  &__slider {
    position: relative;
    flex: 0 0 625px;
    max-width: 625px;
    width: 100%;
    margin-right: 24px;
    border-radius: 8px;
    overflow: hidden;
    transform: translateZ(0);
    @include response(1200px) {
      max-width: 100%;
      margin-bottom: 20px;
      margin-right: 0;
    }
    .slick-dots {
      position: absolute;
      display: flex;
      bottom: 32px;
      left: 32px;
      right: 26px;
      list-style: none;
      padding: 0;
      margin: 0;
      z-index: 1;
      @include response(1200px) {
        left: 20px;
        right: 20px;
      }
      li {
        width: 100%;
        margin-right: 6px;
        display: flex;
        @include response(1200px) {
          margin-right: 3px;
        }
        &.slick-active {
          button {
            &::before {
              animation: line 5s linear forwards;
            }
          }
        }
      }
      button {
        width: 100%;
        font-size: 0;
        padding: 0;
        border: 0;
        background: rgba(255, 255, 255, 0.2);
        height: 4px;
        border-radius: 5px;
        overflow: hidden;
        transform: translateZ(0);
        position: relative;
        &::before {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background: #ffcc00;
          transform: translateX(-100%);
        }
      }
    }
  }
  &__slider-item {
    position: relative;
    vertical-align: top;

    @include response(1200px) {
      height: 324px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__slider-item-box {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 32px 32px 72px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: linear-gradient(180deg, rgba(24, 59, 86, 0.0001) 0%, rgba(22, 49, 70, 0.7) 50.55%, #152532 100%);
    @include response(1200px) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  &__slider-item-row {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    @include response(1200px) {
      margin-bottom: 12px;
    }
  }
  &__slider-item-date {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    flex: 0 0 auto;
    margin-right: 20px;
    @include response(1200px) {
      font-size: 14px;
    }
  }
  &__slider-item-type {
    position: relative;
    flex: 0 0 auto;
    padding: 2px 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: #fff;
    background: rgba(255, 255, 255, 0.24);
    border: 1px solid rgba(255, 255, 255, 0.62);
    border-radius: 4px;
    @include response(1200px) {
      font-size: 12px;
    }
  }
  &__slider-item-title {
    display: block;
    position: relative;
    text-decoration: none;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
    max-height: 176px;
    overflow: hidden;
    -webkit-line-clamp: 4;
    display: box;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    @include response(1200px) {
      font-size: 18px;
      line-height: 27px;
      -webkit-line-clamp: 3;
      max-height: 81px;
    }
    @include desktop-hover() {
      text-decoration: underline;
    }
  }
  &__right {
    position: relative;
    flex: 1 1 auto;
    overflow: auto;
  }
  &__list {
    position: relative;
  }
  &__item {
    position: relative;
    padding: 12px;
    background: #fff;
    border: 1px solid #e1e1e7;
    box-shadow: 0px 15px 35px rgba(48, 89, 193, 0.05);
    border-radius: 8px;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    @include response(1200px) {
      padding: 16px;
      margin-bottom: 20px;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__item-img {
    position: relative;
    flex: 0 0 159px;
    width: 159px;
    height: 100px;
    border-radius: 4px;
    overflow: hidden;
    margin-right: 24px;
    @include response(1200px) {
      margin-right: 16px;
      flex: 0 0 100px;
      width: 100px;
      height: 95px;
    }
    @include desktop-hover() {
      img {
        transform: scale(1.03);
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: 0.4s ease-in-out;
    }
  }
  &__item-box {
    position: relative;
    overflow: auto;
    @include response(1200px) {
      display: flex;
      flex-direction: column-reverse;
    }
  }
  &__item-title {
    display: block;
    text-decoration: none;
    margin-bottom: 12px;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    color: #183b56;
    max-height: 52px;
    overflow: hidden;
    -webkit-line-clamp: 2;
    display: box;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    @include response(1200px) {
      font-size: 14px;
      line-height: 21px;
      max-height: 63px;
      -webkit-line-clamp: 3;
      margin-bottom: 0;
    }
    @include desktop-hover() {
      text-decoration: underline;
    }
  }
  &__item-row {
    position: relative;
    display: flex;
    align-items: center;
    @include response(1200px) {
      margin-bottom: 8px;
    }
  }
  &__item-type {
    flex: 0 0 auto;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    padding: 2px 8px;
    background: rgba(24, 59, 86, 0.04);
    border: 1px solid rgba(24, 59, 86, 0.12);
    border-radius: 4px;
    margin-right: 20px;
    @include response(1200px) {
      font-size: 12px;
      line-height: 16px;
      margin-right: 12px;
    }
  }
  &__item-date {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #5a7184;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    @include response(1200px) {
      font-size: 10px;
      line-height: 22px;
    }
  }
}

@keyframes line {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
