.first-screen {
  position: relative;
  padding-top: 194px;
  padding-bottom: 150px;
  @include response(1200px) {
    padding-top: 116px;
    padding-bottom: 70px;
  }
  &--pb220 {
    padding-bottom: 220px;
  }
  &--pbm-127 {
    @include response(1200px) {
      padding-bottom: 127px;
    }
  }
  &--pb350 {
    padding-bottom: 350px;
    @include response(1200px) {
      padding-bottom: 338px;
    }
  }
  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__title {
    position: relative;
    font-family: "Domine";
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    text-align: center;
    color: #fff;
    margin-bottom: 32px;
    @include response(1200px) {
      font-weight: 700;
      font-size: 28px;
      line-height: 150%;
      margin-bottom: 20px;
    }
    span {
      color: #ffcc00;
    }
  }
  &__title-descriptions {
    position: relative;
    max-width: 590px;
    width: 100%;
    margin: 0 auto 36px;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: #fff;
    @include response(1200px) {
      font-size: 14px;
      margin-bottom: 25px;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__box {
    position: relative;
    max-width: 680px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  &__form {
    position: relative;
    margin-bottom: 36px;
    @include response(1200px) {
      margin-bottom: 30px;
    }
  }
  &__form-icon {
    position: absolute;
    left: 22px;
    top: 50%;
    margin-top: -12px;
    z-index: 1;
    @include response(1200px) {
      left: 20px;
    }
  }
  &__form-input {
    position: relative;
    width: 100%;
    background: #fff;
    border-radius: 4px;
    height: 66px;
    padding: 0 150px 0 60px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    border: 0;
    @include response(1200px) {
      height: 50px;
      padding-left: 56px;
      padding-right: 90px;
      font-size: 14px;
    }
    &::placeholder {
      color: #595f6b;
    }
  }
  &__form-btn {
    position: absolute;
    right: 5px;
    top: 5px;
    bottom: 5px;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #000066;
    background: #ffcc00;
    border-radius: 8px;
    padding: 10px 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    transition: 0.3s ease-in-out;
    @include response(1200px) {
      padding-left: 16px;
      padding-right: 16px;
      font-size: 14px;
      border-radius: 4px;
    }
    @include desktop-hover() {
      background: #183b56;
      color: #fff;
    }
  }
  &__row {
    position: relative;
    display: flex;
    justify-content: space-between;
    @include response(1200px) {
      display: block;
    }
  }
  &__left {
    position: relative;
    flex: 0 0 350px;
    max-width: 350px;
    width: 100%;
    @include response(1200px) {
      max-width: 100%;
      margin-bottom: 20px;
    }
  }
  &__small-title {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.5);
    @include response(1200px) {
      font-size: 12px;
      margin-bottom: 12px;
      text-align: center;
    }
  }
  &__list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    @include response(1200px) {
      justify-content: center;
    }
  }
  &__list-item {
    position: relative;
    flex: 0 0 auto;
    margin-left: 12px;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    padding: 3px 7px;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.08);
    border: 1px solid rgba(255, 255, 255, 0.32);
    border-radius: 2px;
    transition: 0.3s ease-in-out;
    @include response(1200px) {
      font-size: 12px;
    }
    @include desktop-hover() {
      background: rgba(255, 255, 255, 0.15);
      border-color: #fff;
    }
    img {
      flex: 0 0 auto;
      margin-right: 8px;
    }
  }
  &__right {
    position: relative;
    flex: 0 0 270px;
    max-width: 270px;
    width: 100%;
    @include response(1200px) {
      max-width: 100%;
    }
  }
  &__nav-news {
    position: relative;
    display: flex;
    justify-content: center;
    @include response(1200px) {
      padding-left: 14px;
      padding-right: 14px;
    }
  }
  &__nav-news-list {
    list-style: none;
    padding: 12px;
    margin: 0;
    position: relative;
    background: #fff;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include response(1200px) {
      flex-wrap: wrap;
      padding: 0 8px;
      &::before {
        content: "";
        position: absolute;
        left: 8px;
        right: 8px;
        top: 45px;
        height: 1px;
        background: #e5eaf4;
      }
    }
    li {
      position: relative;
      margin-right: 24px;
      @include response(1200px) {
        margin: 8px 4px;
      }
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        margin-top: -16px;
        right: -12px;
        height: 32px;
        width: 1px;
        background: #e5eaf4;
        @include response(1200px) {
          display: none;
        }
      }
      &:last-child {
        margin-right: 0;
        @include response(1200px) {
          margin-right: 4px;
        }
        &::before {
          display: none;
        }
      }
    }
    a {
      display: block;
      text-decoration: none;
      font-weight: 500;
      font-size: 18px;
      line-height: 150%;
      color: #000066;
      padding: 8px 16px;
      border-radius: 8px;
      transition: 0.3s ease-in-out;
      @include desktop-hover() {
        background: #ffcc00;
      }
      @include response(1200px) {
        font-size: 14px;
        padding: 4px 12px;
        border-radius: 4px;
      }
      &.active {
        background: #ffcc00;
      }
    }
  }
}
