.guides {
  position: relative;
  padding-top: 60px;
  padding-bottom: 60px;
  &__box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__left {
    position: relative;
    flex: 0 0 370px;
    max-width: 370px;
    width: 100%;
  }
  &__title {
    position: relative;
    &.title {
      text-align: left;
    }
  }
  &__text {
    position: relative;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: #5a7184;
  }
  &__right {
    position: relative;
    flex: 0 0 550px;
    max-width: 550px;
    width: 100%;
  }
  &__list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-left: -16px;
  }
  &__item {
    position: relative;
    flex: 0 0 calc(50% - 16px);
    max-width: calc(50% - 16px);
    width: 100%;
    padding: 16px 32px;
    background: #fff;
    border: 1px solid #e1e1e7;
    box-shadow: 0px 15px 35px rgba(48, 89, 193, 0.05);
    border-radius: 4px;
    margin-left: 16px;
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    color: #183b56;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: 0.3s ease-in-out;
    @include desktop-hover() {
      box-shadow: 0px 15px 35px rgba(48, 89, 193, 0.15);
      transform: translateY(-2px);
    }
    img {
      flex: 0 0 54px;
      width: 54px;
      margin-right: 24px;
    }
  }
}
