.partners {
  position: relative;
  margin-bottom: 60px;
  &__list {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 16px 40px;
    background: #fff;
    border: 1px solid #e1e1e7;
    box-shadow: 0px 4px 60px rgba(12, 12, 50, 0.1);
    border-radius: 10px;
    margin-top: -56px;
  }
  &__item {
    position: relative;
    flex: 0 0 auto;
  }
}
