.partner {
  position: relative;
  padding-top: 60px;
  padding-bottom: 60px;
  @include response(1200px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  &__title {
    position: relative;
  }
  &__descriptions {
    position: relative;
  }
  &__holder {
    position: relative;
    @include response(1200px) {
      display: flex;
      flex-direction: column-reverse;
    }
  }
  &__options {
    position: relative;
  }
  &__box {
    position: relative;
    background: #f8fafd;
    border: 1px solid #e1e1e7;
    border-radius: 8px;
    padding: 63px 100px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include response(1200px) {
      padding: 58px 20px 35px;
      background: #f8fafd;
      flex-direction: column-reverse;
    }
  }
  &__box-decor {
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
    height: 100%;
    @include response(1200px) {
      display: none;
    }
  }
  &__box-left {
    position: relative;
    flex: 0 0 360px;
    max-width: 360px;
    width: 100%;
    @include response(1200px) {
      flex: 0 0 auto;
      max-width: 100%;
    }
  }
  &__box-title {
    margin-bottom: 12px;
    font-family: "Domine";
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;
    @include response(1200px) {
      font-size: 18px;
      text-align: center;
    }
  }
  &__box-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.02em;
    margin-bottom: 36px;
    @include response(1200px) {
      font-size: 14px;
      margin-bottom: 24px;
    }
  }
  &__box-list {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      position: relative;
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      font-weight: 600;
      font-size: 14px;
      line-height: 150%;
      @include response(1200px) {
        margin-bottom: 8px;
      }
      svg {
        flex: 0 0 auto;
        margin-right: 8px;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__box-right {
    position: relative;
    @include response(1200px) {
      margin-bottom: 24px;
    }
  }
  &__box-img {
    display: flex;
    max-width: 160px;
  }
  &__nav-holder {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: -12px;
    @include response(1200px) {
      margin-top: 0;
      margin-bottom: -22px;
    }
  }
  &__nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 2px;
    background: #fff;
    border: 1px solid #dfdfe5;
    border-radius: 8px;
    li {
      flex: 0 0 auto;
      margin-right: 20px;
      @include response(1200px) {
        margin-right: 10px;
      }
      &:last-child {
        margin-right: 0;
        a {
          &::before {
            display: none;
          }
        }
      }
    }
    a {
      display: block;
      text-decoration: none;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      color: #183b56;
      border-radius: 6px;
      padding: 10px 20px;
      position: relative;
      transition: 0.3s ease-in-out;
      @include response(1200px) {
        font-size: 14px;
        padding-left: 12px;
        padding-right: 12px;
      }
      &::before {
        content: "";
        position: absolute;
        height: 28px;
        width: 1px;
        background: #dfdfe5;
        top: 50%;
        margin-top: -14px;
        right: -10px;
        @include response(1200px) {
          right: -5px;
        }
      }
      &.active {
        background: #cb0101;
        color: #fff;
      }
    }
  }
}
