.partners {
  position: relative;
  margin-bottom: 60px;
  @include response(1200px) {
    margin-bottom: 30px;
  }
  &__list {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 16px 40px;
    background: #fff;
    border: 1px solid #e1e1e7;
    box-shadow: 0px 4px 60px rgba(12, 12, 50, 0.1);
    border-radius: 10px;
    margin-top: -56px;
    @include response(1200px) {
      padding: 6px 44px;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: -52px;
    }
  }
  &__item {
    position: relative;
    flex: 0 0 auto;
    @include response(1200px) {
      max-width: 67px;
      margin-left: 6px;
      margin-right: 6px;
    }
  }
}
