.popuplar-search {
  position: relative;
  max-width: 350px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  &__title {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.04em;
    color: #979797;
    text-align: center;
  }
  &__list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -12px;
  }
  &__list-item {
    position: relative;
    margin-left: 12px;
    padding: 3px 7px;
    background: rgba(24, 59, 86, 0.02);
    border: 1px solid rgba(24, 59, 86, 0.36);
    border-radius: 2px;
    flex: 0 0 auto;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #183b56;
    text-decoration: none;
    transition: .3s ease-in-out;
    @include desktop-hover() {
      border-color: #183b56;
    }
    img {
      flex: 0 0 18px;
      width: 18px;
      margin-right: 8px;
    }
  }
}
