.general-info {
  position: relative;
  border: 1px solid #e1e1e7;
  border-radius: 8px;
  overflow: hidden;
  margin: 10px 0 20px;
  &__head {
    position: relative;
    padding: 36px;
    display: flex;
    align-items: center;
    background: #f8fafd;
    @include response(1200px) {
      padding: 24px 24px 36px;
      display: block;
    }
  }
  &__head-img {
    position: relative;
    flex: 0 0 60px;
    width: 60px;
    margin-right: 24px;
    @include response(1200px) {
      margin-right: 0;
      margin-bottom: 24px;
    }
  }
  &__head-box {
    position: relative;
  }
  &__head-title {
    position: relative;
    font-family: "Domine";
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;
    margin: 0 0 12px;
  }
  &__head-text {
    position: relative;
  }
  &__body {
    position: relative;
  }
  &__item {
    position: relative;
    padding: 36px;
    border-top: 1px solid #e1e1e7;
    @include response(1200px) {
      padding: 24px;
    }
  }
  &__item-title {
    position: relative;
    font-family: "Domine";
    font-weight: 700;
    font-size: 22px;
    line-height: 150%;
    margin: 0 0 12px;
  }
  &__item-text {
    position: relative;
  }
}

.conclusion {
  position: relative;
  padding: 36px 24px 36px 36px;
  background: #1c2642;
  border-radius: 8px;
  display: flex;
  align-items: center;
  @include response(1200px) {
    display: block;
  }
  &__img {
    position: relative;
    flex: 0 0 80px;
    width: 80px;
    margin-right: 40px;
    @include response(1200px) {}
    margin-bottom: 24px;
    margin-right: 0;
  }
  &__box {
    position: relative;
  }
  &__title {
    font-family: "Domine";
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;
    color: #ffcc00;
    margin: 0 0 20px;
    @include response(1200px) {
      font-size: 18px;
      margin-bottom: 12px;
    } 
  }
  &__text {
    color: #fff;
  }
}
