.title {
  position: relative;
  margin: 0 0 16px;
  font-family: "Domine";
  font-weight: 700;
  font-size: 36px;
  line-height: 150%;
  text-align: center;
  @include response(1200px) {
    font-size: 22px;
  }
  span {
    color: #cb0101;
  }
  &--white {
    color: #fff;
    span {
      color: #ffbb00;
    }
  }
}
.sub-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.6em;
  text-transform: uppercase;
  color: #cc0000;
  margin: 0 0 16px;
  text-align: center;
  @include response(1200px) {
    display: none;
  }
}

.title-descriptions {
  position: relative;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  letter-spacing: -0.02em;
  max-width: 800px;
  width: 100%;
  margin: 0 auto 40px;
  @include response(1200px) {
    font-size: 14px;
    margin-bottom: 30px;
  }
  &--white {
    color: rgba(255, 255, 255, 0.7);
  }
}
