<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
  <body class="black-header">
    {% include 'header.html' %}
    <div class="wrapper">
      <div class="error-page">
        <div class="error-page__img">
          <img src="data/error.svg" width="561" height="350" alt="error-img">
        </div>
        <div class="error-page__title title">404 Page Not Found</div>
        <div class="error-page__text">In this digital generation where information can be easily obtained within seconds, business cards</div>
        <form action="#" class="form">
          <svg class="form__icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M11 20C15.9706 20 20 15.9706 20 11C20 6.02944 15.9706 2 11 2C6.02944 2 2 6.02944 2 11C2 15.9706 6.02944 20 11 20Z" stroke="#595F6B" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M18.9304 20.6898C19.4604 22.2898 20.6704 22.4498 21.6004 21.0498C22.4504 19.7698 21.8904 18.7198 20.3504 18.7198C19.2104 18.7098 18.5704 19.5998 18.9304 20.6898Z" stroke="#595F6B" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          <input type="text" class="form__input" placeholder="Search Anything...">
          <button type="submit" class="form__btn">Search</button>
        </form>
        <div class="popuplar-search">
          <div class="popuplar-search__title">POPULAR SEARCH</div>
          <div class="popuplar-search__list">
            <a href="#" class="popuplar-search__list-item">
              <img src="data/icon-11.svg" width="18" height="18" alt="Trusted Online Casinos">
              Trusted Online Casinos
            </a>
            <a href="#" class="popuplar-search__list-item">
              <img src="data/icon-22.svg" width="18" height="18" alt="Sports Betting">
              Sports Betting
            </a>
            <a href="#" class="popuplar-search__list-item">
              <img src="data/icon-33.svg" width="18" height="18" alt="Live Casinos">
              Live Casinos
            </a>
            <a href="#" class="popuplar-search__list-item">
              <img src="data/icon-44.svg" width="18" height="18" alt="Free Credit Casinos">
              Free Credit Casinos
            </a>
          </div>
        </div>
      </div>
    </div>
    {% include 'popup.html' %}
    {% include 'js.html' %}
  </body>
</html>