<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
  <body>
    {% include 'header.html' %}
    <div class="wrapper">
      <div class="first-screen first-screen--pb220">
        <picture class="first-screen__img">
          <source srcset="data/first-screen-mobile.jpg" media="(max-width: 1200px)">
          <img src="data/first-screen.jpg" width="1440" height="648" alt="first-screen">
        </picture> 
        <div class="container">
          <div class="first-screen__title">Our Newsroom</div>
          <div class="first-screen__title-descriptions">In this digital generation where information can be easily obtained within seconds, business cards</div>
          <div class="first-screen__nav-news">
            <ul class="first-screen__nav-news-list">
              <li><a href="#" class="active">All</a></li>
              <li><a href="#">News</a></li>
              <li><a href="#">Casino</a></li>
              <li><a href="#">Sports</a></li>
              <li><a href="#">Betting</a></li>
              <li><a href="#">Proviers</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="news">
        <div class="container">
          <div class="news__main">
            <a href="#" class="news__main-img">
              <img src="data/Cheap-Airline.jpg" width="570" height="315" alt="Cheap-Airline">
            </a>
            <div class="news__main-box">
              <div class="news__main-labels">
                <div class="news__main-label" style="background: rgba(54, 179, 126, 0.12); color: #50B975; border: 1px solid #50B975;">Featured</div>
              </div>
              <a href="#" class="news__main-title">Cheap Airline Tickets Great Ways To Save</a>
              <div class="news__main-text">In this digital generation where information can be easily obtained within seconds, business cards ...</div>
              <div class="news__main-bottom">
                <a href="#" class="news__main-author">
                  <div class="news__main-author-img">
                    <img src="data/Johanna-Murray.jpg" width="40" height="40" alt="Johanna-Murray">
                  </div>
                  <div class="news__main-author-name">Johanna Murray</div>
                </a>
                <div class="news__main-author-date">08 Sept</div>
              </div>
            </div>
          </div>
          <div class="news-list">
            <div class="news-item">
              <a href="#" class="news-item__img">
                <img src="data/news.jpg" width="392" height="249" alt="news">
              </a>
              <div class="news-item__box">
                <div class="news-item__box-top">
                  <a href="#" class="news-item__title" title="Future of Work">Future of Work</a>
                  <div class="news-item__text">Majority of peole will work in jobs that don’t exist today.</div>
                </div>
                <div class="news-item__box-bottom">
                  <a href="#" class="news-item__author">
                    <div class="news-item__author-img">
                      <img src="data/Johanna-Murray.jpg" width="40" height="40" alt="Johanna-Murray">
                    </div>
                    <div class="news-item__author-box">
                      <div class="news-item__author-name">Johanna Murray</div>
                      <div class="news-item__date">02 May</div>
                    </div>
                  </a>
                  <div class="news-item__right">
                    <div class="news-item__type" style="border: 1px solid #CCA300; color:#CCA300; background: rgba(159, 128, 0, 0.12);">Casino</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="news-item">
              <a href="#" class="news-item__img">
                <img src="data/news.jpg" width="392" height="249" alt="news">
              </a>
              <div class="news-item__box">
                <div class="news-item__box-top">
                  <a href="#" class="news-item__title" title="Future of Work">Future of Work</a>
                  <div class="news-item__text">Majority of peole will work in jobs that don’t exist today.</div>
                </div>
                <div class="news-item__box-bottom">
                  <a href="#" class="news-item__author">
                    <div class="news-item__author-img">
                      <img src="data/Johanna-Murray.jpg" width="40" height="40" alt="Johanna-Murray">
                    </div>
                    <div class="news-item__author-box">
                      <div class="news-item__author-name">Johanna Murray</div>
                      <div class="news-item__date">02 May</div>
                    </div>
                  </a>
                  <div class="news-item__right">
                    <div class="news-item__type" style="border: 1px solid #000066; color:#000066; background: rgba(0, 0, 102, 0.12);">Betting</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="news-item">
              <a href="#" class="news-item__img">
                <img src="data/news.jpg" width="392" height="249" alt="news">
              </a>
              <div class="news-item__box">
                <div class="news-item__box-top">
                  <a href="#" class="news-item__title" title="Future of Work">Future of Work</a>
                  <div class="news-item__text">Majority of peole will work in jobs that don’t exist today.</div>
                </div>
                <div class="news-item__box-bottom">
                  <a href="#" class="news-item__author">
                    <div class="news-item__author-img">
                      <img src="data/Johanna-Murray.jpg" width="40" height="40" alt="Johanna-Murray">
                    </div>
                    <div class="news-item__author-box">
                      <div class="news-item__author-name">Johanna Murray</div>
                      <div class="news-item__date">02 May</div>
                    </div>
                  </a>
                  <div class="news-item__right">
                    <div class="news-item__type">Provider</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="news-item">
              <a href="#" class="news-item__img">
                <img src="data/news.jpg" width="392" height="249" alt="news">
              </a>
              <div class="news-item__box">
                <div class="news-item__box-top">
                  <a href="#" class="news-item__title" title="Future of Work">Future of Work</a>
                  <div class="news-item__text">Majority of peole will work in jobs that don’t exist today.</div>
                </div>
                <div class="news-item__box-bottom">
                  <a href="#" class="news-item__author">
                    <div class="news-item__author-img">
                      <img src="data/Johanna-Murray.jpg" width="40" height="40" alt="Johanna-Murray">
                    </div>
                    <div class="news-item__author-box">
                      <div class="news-item__author-name">Johanna Murray</div>
                      <div class="news-item__date">02 May</div>
                    </div>
                  </a>
                  <div class="news-item__right">
                    <div class="news-item__type" style="border: 1px solid #CC0000; color:#CC0000; background: rgba(204, 0, 0, 0.12);">Provider</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="news-item">
              <a href="#" class="news-item__img">
                <img src="data/news.jpg" width="392" height="249" alt="news">
              </a>
              <div class="news-item__box">
                <div class="news-item__box-top">
                  <a href="#" class="news-item__title" title="Future of Work">Future of Work</a>
                  <div class="news-item__text">Majority of peole will work in jobs that don’t exist today.</div>
                </div>
                <div class="news-item__box-bottom">
                  <a href="#" class="news-item__author">
                    <div class="news-item__author-img">
                      <img src="data/Johanna-Murray.jpg" width="40" height="40" alt="Johanna-Murray">
                    </div>
                    <div class="news-item__author-box">
                      <div class="news-item__author-name">Johanna Murray</div>
                      <div class="news-item__date">02 May</div>
                    </div>
                  </a>
                  <div class="news-item__right">
                    <div class="news-item__type" style="border: 1px solid #CCA300; color:#CCA300; background: rgba(159, 128, 0, 0.12);">Casino</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="news-item">
              <a href="#" class="news-item__img">
                <img src="data/news.jpg" width="392" height="249" alt="news">
              </a>
              <div class="news-item__box">
                <div class="news-item__box-top">
                  <a href="#" class="news-item__title" title="Future of Work">Future of Work</a>
                  <div class="news-item__text">Majority of peole will work in jobs that don’t exist today.</div>
                </div>
                <div class="news-item__box-bottom">
                  <a href="#" class="news-item__author">
                    <div class="news-item__author-img">
                      <img src="data/Johanna-Murray.jpg" width="40" height="40" alt="Johanna-Murray">
                    </div>
                    <div class="news-item__author-box">
                      <div class="news-item__author-name">Johanna Murray</div>
                      <div class="news-item__date">02 May</div>
                    </div>
                  </a>
                  <div class="news-item__right">
                    <div class="news-item__type" style="border: 1px solid #000066; color:#000066; background: rgba(0, 0, 102, 0.12);">Betting</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="news-item">
              <a href="#" class="news-item__img">
                <img src="data/news.jpg" width="392" height="249" alt="news">
              </a>
              <div class="news-item__box">
                <div class="news-item__box-top">
                  <a href="#" class="news-item__title" title="Future of Work">Future of Work</a>
                  <div class="news-item__text">Majority of peole will work in jobs that don’t exist today.</div>
                </div>
                <div class="news-item__box-bottom">
                  <a href="#" class="news-item__author">
                    <div class="news-item__author-img">
                      <img src="data/Johanna-Murray.jpg" width="40" height="40" alt="Johanna-Murray">
                    </div>
                    <div class="news-item__author-box">
                      <div class="news-item__author-name">Johanna Murray</div>
                      <div class="news-item__date">02 May</div>
                    </div>
                  </a>
                  <div class="news-item__right">
                    <div class="news-item__type">Provider</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="news-item">
              <a href="#" class="news-item__img">
                <img src="data/news.jpg" width="392" height="249" alt="news">
              </a>
              <div class="news-item__box">
                <div class="news-item__box-top">
                  <a href="#" class="news-item__title" title="Future of Work">Future of Work</a>
                  <div class="news-item__text">Majority of peole will work in jobs that don’t exist today.</div>
                </div>
                <div class="news-item__box-bottom">
                  <a href="#" class="news-item__author">
                    <div class="news-item__author-img">
                      <img src="data/Johanna-Murray.jpg" width="40" height="40" alt="Johanna-Murray">
                    </div>
                    <div class="news-item__author-box">
                      <div class="news-item__author-name">Johanna Murray</div>
                      <div class="news-item__date">02 May</div>
                    </div>
                  </a>
                  <div class="news-item__right">
                    <div class="news-item__type">Provider</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="news-item">
              <a href="#" class="news-item__img">
                <img src="data/news.jpg" width="392" height="249" alt="news">
              </a>
              <div class="news-item__box">
                <div class="news-item__box-top">
                  <a href="#" class="news-item__title" title="Future of Work">Future of Work</a>
                  <div class="news-item__text">Majority of peole will work in jobs that don’t exist today.</div>
                </div>
                <div class="news-item__box-bottom">
                  <a href="#" class="news-item__author">
                    <div class="news-item__author-img">
                      <img src="data/Johanna-Murray.jpg" width="40" height="40" alt="Johanna-Murray">
                    </div>
                    <div class="news-item__author-box">
                      <div class="news-item__author-name">Johanna Murray</div>
                      <div class="news-item__date">02 May</div>
                    </div>
                  </a>
                  <div class="news-item__right">
                    <div class="news-item__type">Provider</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="bonus">
            <div class="bonus__left">
              <div class="bonus__title">Get Exclusive Bonus Offer & Tips</div>
              <div class="bonus__text">Enter your email, and get latest bonus offer</div>
            </div>
            <div class="bonus__right">
              <div class="bonus__form">
                <div class="bonus__form-cell">
                  <div class="bonus__form-row">
                    <input type="text" placeholder="Name">
                  </div>
                  <div class="bonus__form-row">
                    <input type="email" placeholder="Email">
                  </div>
                </div>
                <div class="bonus__form-cell">
                  <div class="bonus__form-checkbox">
                    <div class="bonus__form-checkbox-title">Select a topic of your interest :</div>
                    <div class="bonus__form-checkbo-list">
                      <label class="bonus__form-checkbox-item">
                        <input type="checkbox">
                        <span>Bonuses</span>
                      </label>
                      <label class="bonus__form-checkbox-item">
                        <input type="checkbox">
                        <span>Games</span>
                      </label>
                      <label class="bonus__form-checkbox-item">
                        <input type="checkbox">
                        <span>Casinos</span>
                      </label>
                    </div>
                  </div>
                  <button class="bonus__form-btn" type="submit">Claim Bonus</button>
                </div>
              </div>
            </div>
          </div>
          <div class="news-list">
            <div class="news-item-row">
              <a href="#" class="news-item-row__img">
                <img src="data/news-row.jpg" width="269" height="260" alt="news">
              </a>
              <div class="news-item-row__box">
                <div class="news-item-row__top">
                  <div class="news-item-row__type" style="border: 1px solid #CC0000; color:#CC0000; background: rgba(204, 0, 0, 0.12);">Provider</div>
                  <div class="news-item-row__date-mobile">02 May</div>
                </div>
                <a href="#" class="news-item-row__title" title="Cheap Airline Tickets Great Ways To Save">Cheap Airline Tickets Great Ways To Save</a>
                <div class="news-item-row__text">Majority of peole will work in jobs that don’t exist today.</div>
                <a href="#" class="news-item-row__author">
                  <div class="news-item-row__author-img">
                    <img src="data/Johanna-Murray.jpg" width="40" height="40" alt="Johanna-Murray">
                  </div>
                  <div class="news-item-row__author-box">
                    <div class="news-item-row__author-name">Johanna Murray</div>
                    <div class="news-item-row__date">02 May</div>
                  </div>
                </a>
              </div>
            </div>
            <div class="news-item-row">
              <a href="#" class="news-item-row__img">
                <img src="data/news-row.jpg" width="269" height="260" alt="news">
              </a>
              <div class="news-item-row__box">
                <div class="news-item-row__top">
                  <div class="news-item-row__type" style="border: 1px solid #CCA300; color:#CCA300; background: rgba(159, 128, 0, 0.12);">Provider</div>
                  <div class="news-item-row__date-mobile">02 May</div>
                </div>
                <a href="#" class="news-item-row__title" title="Cheap Airline Tickets Great Ways To Save">Cheap Airline Tickets Great Ways To Save</a>
                <div class="news-item-row__text">Majority of peole will work in jobs that don’t exist today.</div>
                <a href="#" class="news-item-row__author">
                  <div class="news-item-row__author-img">
                    <img src="data/Johanna-Murray.jpg" width="40" height="40" alt="Johanna-Murray">
                  </div>
                  <div class="news-item-row__author-box">
                    <div class="news-item-row__author-name">Johanna Murray</div>
                    <div class="news-item-row__date">02 May</div>
                  </div>
                </a>
              </div>
            </div>
            <div class="news-item-row">
              <a href="#" class="news-item-row__img">
                <img src="data/news-row.jpg" width="269" height="260" alt="news">
              </a>
              <div class="news-item-row__box">
                <div class="news-item-row__top">
                  <div class="news-item-row__type" style="border: 1px solid #CC0000; color:#CC0000; background: rgba(204, 0, 0, 0.12);">Provider</div>
                  <div class="news-item-row__date-mobile">02 May</div>
                </div>
                <a href="#" class="news-item-row__title" title="Cheap Airline Tickets Great Ways To Save">Cheap Airline Tickets Great Ways To Save</a>
                <div class="news-item-row__text">Majority of peole will work in jobs that don’t exist today.</div>
                <a href="#" class="news-item-row__author">
                  <div class="news-item-row__author-img">
                    <img src="data/Johanna-Murray.jpg" width="40" height="40" alt="Johanna-Murray">
                  </div>
                  <div class="news-item-row__author-box">
                    <div class="news-item-row__author-name">Johanna Murray</div>
                    <div class="news-item-row__date">02 May</div>
                  </div>
                </a>
              </div>
            </div>
            <div class="news-item-row">
              <a href="#" class="news-item-row__img">
                <img src="data/news-row.jpg" width="269" height="260" alt="news">
              </a>
              <div class="news-item-row__box">
                <div class="news-item-row__top">
                  <div class="news-item-row__type" style="border: 1px solid #000066; color:#000066; background: rgba(0, 0, 102, 0.12);">Provider</div>
                  <div class="news-item-row__date-mobile">02 May</div>
                </div>
                <a href="#" class="news-item-row__title" title="Cheap Airline Tickets Great Ways To Save">Cheap Airline Tickets Great Ways To Save</a>
                <div class="news-item-row__text">Majority of peole will work in jobs that don’t exist today.</div>
                <a href="#" class="news-item-row__author">
                  <div class="news-item-row__author-img">
                    <img src="data/Johanna-Murray.jpg" width="40" height="40" alt="Johanna-Murray">
                  </div>
                  <div class="news-item-row__author-box">
                    <div class="news-item-row__author-name">Johanna Murray</div>
                    <div class="news-item-row__date">02 May</div>
                  </div>
                </a>
              </div>
            </div>
            <div class="news-item-row">
              <a href="#" class="news-item-row__img">
                <img src="data/news-row.jpg" width="269" height="260" alt="news">
              </a>
              <div class="news-item-row__box">
                <div class="news-item-row__top">
                  <div class="news-item-row__type">Provider</div>
                  <div class="news-item-row__date-mobile">02 May</div>
                </div>
                <a href="#" class="news-item-row__title" title="Cheap Airline Tickets Great Ways To Save">Cheap Airline Tickets Great Ways To Save</a>
                <div class="news-item-row__text">Majority of peole will work in jobs that don’t exist today.</div>
                <a href="#" class="news-item-row__author">
                  <div class="news-item-row__author-img">
                    <img src="data/Johanna-Murray.jpg" width="40" height="40" alt="Johanna-Murray">
                  </div>
                  <div class="news-item-row__author-box">
                    <div class="news-item-row__author-name">Johanna Murray</div>
                    <div class="news-item-row__date">02 May</div>
                  </div>
                </a>
              </div>
            </div>
            <div class="news-item-row">
              <a href="#" class="news-item-row__img">
                <img src="data/news-row.jpg" width="269" height="260" alt="news">
              </a>
              <div class="news-item-row__box">
                <div class="news-item-row__top">
                  <div class="news-item-row__type" style="border: 1px solid #CCA300; color:#CCA300; background: rgba(159, 128, 0, 0.12);">Provider</div>
                  <div class="news-item-row__date-mobile">02 May</div>
                </div>
                <a href="#" class="news-item-row__title" title="Cheap Airline Tickets Great Ways To Save">Cheap Airline Tickets Great Ways To Save</a>
                <div class="news-item-row__text">Majority of peole will work in jobs that don’t exist today.</div>
                <a href="#" class="news-item-row__author">
                  <div class="news-item-row__author-img">
                    <img src="data/Johanna-Murray.jpg" width="40" height="40" alt="Johanna-Murray">
                  </div>
                  <div class="news-item-row__author-box">
                    <div class="news-item-row__author-name">Johanna Murray</div>
                    <div class="news-item-row__date">02 May</div>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <ul class="pagination">
            <li class="disabled">
              <a href="#">
                <svg width="6" height="10" viewBox="0 0 6 10" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M5.25742 0.59165C4.93242 0.26665 4.40742 0.26665 4.08242 0.59165L0.257422 4.41665C-0.0675781 4.74165 -0.0675781 5.26665 0.257422 5.59165L4.08242 9.41665C4.40742 9.74165 4.93242 9.74165 5.25742 9.41665C5.58242 9.09165 5.58242 8.56665 5.25742 8.24165L2.02409 4.99998L5.25742 1.76665C5.58242 1.44165 5.57409 0.908317 5.25742 0.59165Z" />
                </svg>
              </a>
            </li>
            <li><span>1</span></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li>
              <a href="#">
                <svg width="6" height="10" viewBox="0 0 6 10" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M0.74375 0.244802C0.41875 0.569802 0.41875 1.0948 0.74375 1.4198L3.97708 4.65314L0.74375 7.88647C0.41875 8.21147 0.41875 8.73647 0.74375 9.06147C1.06875 9.38647 1.59375 9.38647 1.91875 9.06147L5.74375 5.23647C6.06875 4.91147 6.06875 4.38647 5.74375 4.06147L1.91875 0.236468C1.60208 -0.0801982 1.06875 -0.0801982 0.74375 0.244802Z" />
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    {% include 'footer.html' %}
    {% include 'popup.html' %}
    {% include 'js.html' %}
  </body>
</html>