<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
  <body class="black-header">
    {% include 'header.html' %}
    <div class="wrapper">
      <div class="main">
        <div class="blog-page">
          <div class="container">
            <div class="blog-page__box">
              <div class="blog-page__content">
                <ul class="breadcrumb">
                  <li><a href="#">Home</a></li>
                  <li><a href="#">Casino Reviews</a></li>
                  <li><span>BK8 Casino</span></li>
                </ul>
                <div class="blog-page__text text-content">
                  
                </div>
              </div>
              <div class="blog-page__aside js-sticky">
                <div class="overall-rating">
                  <div class="overall-rating__head">
                    <div class="overall-rating__title">Overall Rating</div>
                    <div class="overall-rating__rate-box">
                      <div class="overall-rating__rate-val">5.0</div>
                      <div class="overall-rating__rate">{% include 'rate.html' %}</div>
                    </div>
                    <div class="overall-rating__list">
                      <div class="overall-rating__item">
                        <div class="overall-rating__item-title">Games & Providers</div>
                        <div class="overall-rating__item-total">
                          <div class="overall-rating__item-total-val">5.0</div>
                          <div class="overall-rating__item-total-all">/ 5.0</div>
                        </div>
                      </div>
                      <div class="overall-rating__item">
                        <div class="overall-rating__item-title">Bonuses & Promotions</div>
                        <div class="overall-rating__item-total">
                          <div class="overall-rating__item-total-val">5.0</div>
                          <div class="overall-rating__item-total-all">/ 5.0</div>
                        </div>
                      </div>
                      <div class="overall-rating__item">
                        <div class="overall-rating__item-title">Deposit & Withdrawal</div>
                        <div class="overall-rating__item-total">
                          <div class="overall-rating__item-total-val">5.0</div>
                          <div class="overall-rating__item-total-all">/ 5.0</div>
                        </div>
                      </div>
                      <div class="overall-rating__item">
                        <div class="overall-rating__item-title">Support & Security</div>
                        <div class="overall-rating__item-total">
                          <div class="overall-rating__item-total-val">5.0</div>
                          <div class="overall-rating__item-total-all">/ 5.0</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="overall-rating__row overall-rating__row--pros">
                    <div class="overall-rating__row-title">Pros</div>
                    <div class="overall-rating__row-list">
                      <div class="overall-rating__row-item">
                        <div class="overall-rating__row-item-icon"></div>
                        Wide range of games and bonuses
                      </div>
                      <div class="overall-rating__row-item">
                        <div class="overall-rating__row-item-icon"></div>
                        Safe and secure
                      </div>
                      <div class="overall-rating__row-item">
                        <div class="overall-rating__row-item-icon"></div>
                        Excellent 24/7 customer support
                      </div>
                      <div class="overall-rating__row-item">
                        <div class="overall-rating__row-item-icon"></div>
                        Many sponsors
                      </div>
                      <div class="overall-rating__row-item">
                        <div class="overall-rating__row-item-icon"></div>
                        Accepts cryptocurrency
                      </div>
                    </div>
                  </div>
                  <div class="overall-rating__row overall-rating__row--cons">
                    <div class="overall-rating__row-title">Cons</div>
                    <div class="overall-rating__row-list">
                      <div class="overall-rating__row-item">
                        <div class="overall-rating__row-item-icon"></div>
                        Could use more deposit and withdrawal methods
                      </div>
                      <div class="overall-rating__row-item">
                        <div class="overall-rating__row-item-icon"></div>
                        Some games can take longer to load
                      </div>
                    </div>
                  </div>
                </div>
                <div class="blog-page__aside-box">
                  <div class="blog-page__aside-row">
                    <div class="blog-page__aside-row-title">Popular Casino</div>
                    <ul class="blog-page__aside-list">
                      <li class="blog-page__aside-list-item">
                        <a href="#" class="blog-page__aside-list-link">
                          <img src="data/Trusted-Online-Casinos.svg" width="36" height="36" alt="Trusted-Online-Casinos">
                          <span>Trusted Online Casinos</span>
                        </a>
                      </li>
                      <li class="blog-page__aside-list-item">
                        <a href="#" class="blog-page__aside-list-link">
                          <img src="data/Free-SGD-Credit-Casinos.svg" width="36" height="36" alt="Free-SGD-Credit-Casinos">
                          <span>Free SGD Credit Casinos</span>
                        </a>
                      </li>
                      <li class="blog-page__aside-list-item">
                        <a href="#" class="blog-page__aside-list-link">
                          <img src="data/Live-Casinos.svg" width="36" height="36" alt="Live-Casinos">
                          <span>Live Casinos</span>
                        </a>
                      </li>
                      <li class="blog-page__aside-list-item">
                        <a href="#" class="blog-page__aside-list-link">
                          <img src="data/Mobile-Casinos.svg" width="36" height="36" alt="Mobile-Casinos">
                          <span>Mobile Casinos</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="blog-page__aside-row">
                    <div class="blog-page__aside-row-title">Casino Games</div>
                    <ul class="blog-page__aside-list">
                      <li class="blog-page__aside-list-item">
                        <a href="#" class="blog-page__aside-list-link">
                          <img src="data/Online-Slots-2.svg" width="36" height="36" alt="Online-Slots">
                          <span>Online Slots</span>
                        </a>
                      </li>
                      <li class="blog-page__aside-list-item">
                        <a href="#" class="blog-page__aside-list-link">
                          <img src="data/Online-Poker.svg" width="36" height="36" alt="Online-Poker">
                          <span>Online Poker</span>
                        </a>
                      </li>
                      <li class="blog-page__aside-list-item">
                        <a href="#" class="blog-page__aside-list-link">
                          <img src="data/Live-Roulette.svg" width="36" height="36" alt="Live-Roulette">
                          <span>Live Roulette</span>
                        </a>
                      </li>
                      <li class="blog-page__aside-list-item">
                        <a href="#" class="blog-page__aside-list-link">
                          <img src="data/Live-Blackjack.svg" width="36" height="36" alt="Live-Blackjack">
                          <span>Live Blackjack</span>
                        </a>
                      </li>
                      <li class="blog-page__aside-list-item">
                        <a href="#" class="blog-page__aside-list-link">
                          <img src="data/Live-Baccarat.svg" width="36" height="36" alt="Live-Baccarat">
                          <span>Live Baccarat</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="bonus bonus--mini">
                  <div class="bonus__left">
                    <div class="bonus__title">Get Exclusive Bonus Offer & Tips</div>
                    <div class="bonus__text">Enter your email, and get latest bonus offer</div>
                  </div>
                  <div class="bonus__right">
                    <div class="bonus__form">
                      <div class="bonus__form-cell">
                        <div class="bonus__form-row">
                          <input type="text" placeholder="Name">
                        </div>
                        <div class="bonus__form-row">
                          <input type="email" placeholder="Email">
                        </div>
                      </div>
                      <div class="bonus__form-cell">
                        <div class="bonus__form-checkbox">
                          <div class="bonus__form-checkbox-title">Select a topic of your interest :</div>
                          <div class="bonus__form-checkbo-list">
                            <label class="bonus__form-checkbox-item">
                              <input type="checkbox">
                              <span>Bonuses</span>
                            </label>
                            <label class="bonus__form-checkbox-item">
                              <input type="checkbox">
                              <span>Games</span>
                            </label>
                            <label class="bonus__form-checkbox-item">
                              <input type="checkbox">
                              <span>Casinos</span>
                            </label>
                          </div>
                        </div>
                        <button class="bonus__form-btn" type="submit">Claim Bonus</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="top-casinos">
                  <div class="top-casinos__head">Top Online Casinos</div>
                  <div class="top-casinos__list">
                    <div class="top-casinos__item">
                      <div class="top-casinos__item-img">
                        <img src="data/ap33.png" width="66" height="39" alt="ap33">
                      </div>
                      <div class="top-casinos__item-info">
                        <div class="top-casinos__item-title">AP33</div>
                        <a href="#" class="top-casinos__item-link">See Reviews</a>
                      </div>
                      <div class="top-casinos__item-rate">
                        <div class="top-casinos__item-rate-val">
                          <div class="top-casinos__item-rate-val-cur">5.0</div>
                          <div class="top-casinos__item-rate-val-total">/ 5.0</div>
                        </div>
                        <div class="top-casinos__item-rate-holder">{% include 'rate.html' %}</div>
                      </div>
                    </div>
                    <div class="top-casinos__item">
                      <div class="top-casinos__item-img">
                        <img src="data/ap33.png" width="66" height="39" alt="ap33">
                      </div>
                      <div class="top-casinos__item-info">
                        <div class="top-casinos__item-title">AP33</div>
                        <a href="#" class="top-casinos__item-link">See Reviews</a>
                      </div>
                      <div class="top-casinos__item-rate">
                        <div class="top-casinos__item-rate-val">
                          <div class="top-casinos__item-rate-val-cur">5.0</div>
                          <div class="top-casinos__item-rate-val-total">/ 5.0</div>
                        </div>
                        <div class="top-casinos__item-rate-holder">{% include 'rate.html' %}</div>
                      </div>
                    </div>
                    <div class="top-casinos__item">
                      <div class="top-casinos__item-img">
                        <img src="data/ap33.png" width="66" height="39" alt="ap33">
                      </div>
                      <div class="top-casinos__item-info">
                        <div class="top-casinos__item-title">AP33</div>
                        <a href="#" class="top-casinos__item-link">See Reviews</a>
                      </div>
                      <div class="top-casinos__item-rate">
                        <div class="top-casinos__item-rate-val">
                          <div class="top-casinos__item-rate-val-cur">5.0</div>
                          <div class="top-casinos__item-rate-val-total">/ 5.0</div>
                        </div>
                        <div class="top-casinos__item-rate-holder">{% include 'rate.html' %}</div>
                      </div>
                    </div>
                    <div class="top-casinos__item">
                      <div class="top-casinos__item-img">
                        <img src="data/ap33.png" width="66" height="39" alt="ap33">
                      </div>
                      <div class="top-casinos__item-info">
                        <div class="top-casinos__item-title">AP33</div>
                        <a href="#" class="top-casinos__item-link">See Reviews</a>
                      </div>
                      <div class="top-casinos__item-rate">
                        <div class="top-casinos__item-rate-val">
                          <div class="top-casinos__item-rate-val-cur">5.0</div>
                          <div class="top-casinos__item-rate-val-total">/ 5.0</div>
                        </div>
                        <div class="top-casinos__item-rate-holder">{% include 'rate.html' %}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="latest-news">
        <div class="container">
          <div class="latest-news__sub sub-title">SUBTITLE</div>
          <div class="latest-news__title title">Latest News</div>
          <div class="latest-news__text title-descriptions">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</div>
          <div class="news-list">
            <div class="news-item">
              <a href="#" class="news-item__img">
                <img src="data/news.jpg" width="392" height="249" alt="news">
              </a>
              <div class="news-item__box">
                <div class="news-item__box-top">
                  <a href="#" class="news-item__title" title="Future of Work">Future of Work</a>
                  <div class="news-item__text">Majority of peole will work in jobs that don’t exist today.</div>
                </div>
                <div class="news-item__box-bottom">
                  <a href="#" class="news-item__author">
                    <div class="news-item__author-img">
                      <img src="data/Johanna-Murray.jpg" width="40" height="40" alt="Johanna-Murray">
                    </div>
                    <div class="news-item__author-box">
                      <div class="news-item__author-name">Johanna Murray</div>
                      <div class="news-item__date">02 May</div>
                    </div>
                  </a>
                  <div class="news-item__right">
                    <div class="news-item__type">Provider</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="news-item">
              <a href="#" class="news-item__img">
                <img src="data/news.jpg" width="392" height="249" alt="news">
              </a>
              <div class="news-item__box">
                <div class="news-item__box-top">
                  <a href="#" class="news-item__title" title="Cheap Airline Tickets Great Ways To Save">Cheap Airline Tickets Great Ways To Save</a>
                  <div class="news-item__text">Majority of peole will work in jobs that don’t exist today.</div>
                </div>
                <div class="news-item__box-bottom">
                  <a href="#" class="news-item__author">
                    <div class="news-item__author-img">
                      <img src="data/Johanna-Murray.jpg" width="40" height="40" alt="Johanna-Murray">
                    </div>
                    <div class="news-item__author-box">
                      <div class="news-item__author-name">Johanna Murray</div>
                      <div class="news-item__date">02 May</div>
                    </div>
                  </a>
                  <div class="news-item__right">
                    <div class="news-item__type">Provider</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="news-item">
              <a href="#" class="news-item__img">
                <img src="data/news.jpg" width="392" height="249" alt="news">
              </a>
              <div class="news-item__box">
                <div class="news-item__box-top">
                  <a href="#" class="news-item__title" title="Future of Work">Future of Work</a>
                  <div class="news-item__text">Majority of peole will work in jobs that don’t exist today.</div>
                </div>
                <div class="news-item__box-bottom">
                  <a href="#" class="news-item__author">
                    <div class="news-item__author-img">
                      <img src="data/Johanna-Murray.jpg" width="40" height="40" alt="Johanna-Murray">
                    </div>
                    <div class="news-item__author-box">
                      <div class="news-item__author-name">Johanna Murray</div>
                      <div class="news-item__date">02 May</div>
                    </div>
                  </a>
                  <div class="news-item__right">
                    <div class="news-item__type">Provider</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include 'footer.html' %}
    {% include 'popup.html' %}
    {% include 'js.html' %}
  </body>
</html>