<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
  <body>
    {% include 'header.html' %}
    <div class="wrapper">
      <div class="first-screen">
        <img class="first-screen__img" src="data/first-screen.jpg" width="1440" height="648" alt="first-screen">
        <div class="container">
          <div class="first-screen__title">Make <span>Smart</span> Gambling Decisions</div>
          <div class="first-screen__box">
            <form action="#" class="first-screen__form">
              <svg class="first-screen__form-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M11 20C15.9706 20 20 15.9706 20 11C20 6.02944 15.9706 2 11 2C6.02944 2 2 6.02944 2 11C2 15.9706 6.02944 20 11 20Z" stroke="#595F6B" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M18.9304 20.6898C19.4604 22.2898 20.6704 22.4498 21.6004 21.0498C22.4504 19.7698 21.8904 18.7198 20.3504 18.7198C19.2104 18.7098 18.5704 19.5998 18.9304 20.6898Z" stroke="#595F6B" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              <input type="text" class="first-screen__form-input" placeholder="Search Casino...">
              <button type="submit" class="first-screen__form-btn">Search</button>
            </form>
            <div class="first-screen__row">
              <div class="first-screen__left">
                <div class="first-screen__small-title">POPULAR SEARCH</div>
                <div class="first-screen__list">
                  <a href="#" class="first-screen__list-item">
                    <img src="data/icon-1.svg" width="18" height="18" alt="Trusted Online Casinos">
                    Trusted Online Casinos
                  </a>
                  <a href="#" class="first-screen__list-item">
                    <img src="data/icon-2.svg" width="18" height="18" alt="Sports Betting">
                    Sports Betting
                  </a>
                  <a href="#" class="first-screen__list-item">
                    <img src="data/icon-3.svg" width="18" height="18" alt="Live Casinos">
                    Live Casinos
                  </a>
                  <a href="#" class="first-screen__list-item">
                    <img src="data/icon-4.svg" width="18" height="18" alt="Free Credit Casinos">
                    Free Credit Casinos
                  </a>
                </div>
              </div>
              <div class="first-screen__right">
                <div class="first-screen__small-title">POPULAR CASINO</div>
                <div class="first-screen__list">
                  <a href="#" class="first-screen__list-item">Aclbet</a>
                  <a href="#" class="first-screen__list-item">God55</a>
                  <a href="#" class="first-screen__list-item">Bk8</a>
                  <a href="#" class="first-screen__list-item">Dafabet</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="partners">
        <div class="container container--small">
          <div class="partners__list">
            <div class="partners__item"><img src="data/defabet.jpg" width="134" height="78" alt="defabet"></div>
            <div class="partners__item"><img src="data/god.jpg" width="134" height="78" alt="god"></div>
            <div class="partners__item"><img src="data/cmd.jpg" width="134" height="78" alt="cmd"></div>
            <div class="partners__item"><img src="data/sbobet.jpg" width="134" height="78" alt="sbobet"></div>
            <div class="partners__item"><img src="data/maxbet.jpg" width="134" height="78" alt="maxbet"></div>
          </div>
        </div>
      </div>
    </div>
    {% include 'footer.html' %}
    {% include 'popup.html' %}
    {% include 'js.html' %}
  </body>
</html>