<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
  <body class="black-header">
    {% include 'header.html' %}
    <div class="wrapper">
      <div class="main">
        <div class="container">
          <ul class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><span>Online Gambling Regulations Malaysia</span></li>
          </ul>
        </div>
        
      </div>
    </div>
    {% include 'footer.html' %}
    {% include 'popup.html' %}
    {% include 'js.html' %}
  </body>
</html>