<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
  <body class="black-header">
    {% include 'header.html' %}
    <div class="wrapper">
      <div class="main">
        <div class="blog-page">
          <div class="container">
            <div class="blog-page__box">
              <div class="blog-page__content">
                <ul class="breadcrumb">
                  <li><a href="#">Home</a></li>
                  <li><span>Gambling Responsible</span></li>
                </ul>
                <div class="blog-page__text text-content">
                  <h1>Gambling Responsible</h1>
                  <hr class="small-margin">
                  <p>Responsible gaming refers to the set of requirements and policies designed to protect players from the negative consequences of gambling. This concept is followed by both land-based and online betting operators, gaming providers, and other associated service providers. Responsible gaming should be followed by both gamblers, operators, and the government. </p>
                  <br>
                  <h2>What Does It Mean To Gamble Responsibly?</h2>
                  <p>Gamblers are responsible for their actions and should understand the impacts of gambling addiction. This means that you should take breaks regularly, not bet more than you can afford to lose, set limits, and not use gambling as a source of income. There are many operators that even have built in tools that allow players to set their limits. To gamble responsibly means to exercise control over your gambling activity to ensure that it does not cause any issues for yourself and others.</p>
                  <br>
                  <div class="custom-table">
                    <div class="custom-table__inner">
                      <div class="custom-table__row">
                        <div class="custom-table__cell">Responsibilities</div>
                        <div class="custom-table__cell">Details On What Operators Are Expected To Do</div>
                      </div>
                      <div class="custom-table__row">
                        <div class="custom-table__cell">Secured online environment</div>
                        <div class="custom-table__cell">
                          <ul class="custom-table__cell-list">
                            <li>Create a platform where players can enjoy a safe and secure gambling environment</li>
                            <li>Keep personal and financial information of players safe</li>
                          </ul>
                        </div>
                      </div>
                      <div class="custom-table__row">
                        <div class="custom-table__cell">Protect vulnerable gamblers</div>
                        <div class="custom-table__cell">
                          <ul class="custom-table__cell-list">
                            <li>Create and promote environments that prevent or minimize addiction</li>
                            <li>Encourage responsible gaming by offering self-exclusion programs, responsible gaming sessions, and helping users to set a financial limit</li>
                          </ul>
                        </div>
                      </div>
                      <div class="custom-table__row">
                        <div class="custom-table__cell">Prevention of underage gambling</div>
                        <div class="custom-table__cell">Verify player identity to prevent minors from gambling (under 18 years old</div>
                      </div>
                      <div class="custom-table__row">
                        <div class="custom-table__cell">Safe measures against criminal activities</div>
                        <div class="custom-table__cell">
                          <ul class="custom-table__cell-list">
                            <li>Implement anti-money laundering policies and procedures</li>
                            <li>Identity verification</li>
                            <li>Use software programs that detect and block illegal activities such as hacking</li>
                            <li>Monitor transactions and report suspicious activities to authoritiesight</li>
                          </ul>
                        </div>
                      </div>
                      <div class="custom-table__row">
                        <div class="custom-table__cell">Provision of information</div>
                        <div class="custom-table__cell">Make information available about potential risks of gambling including nature of the game, rules, policies, odds, returns, and more</div>
                      </div>
                      <div class="custom-table__row">
                        <div class="custom-table__cell">Ethical and responsible marketing</div>
                        <div class="custom-table__cell">
                          <ul class="custom-table__cell-list">
                            <li>Comply with advertising codes</li>
                            <li>Ensure advertisements do not target minors</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <br>
                  <h2>Responsibilities of the User</h2>
                  <p>Since it can be easy to get caught up in gambling activities be it online or physical, players are expected to take some precautionary measures. </p>
                  <div class="custom-table">
                    <div class="custom-table__inner">
                      <div class="custom-table__row">
                        <div class="custom-table__cell">Responsibilities</div>
                        <div class="custom-table__cell">Details On What Is Expected of Players</div>
                      </div>
                      <div class="custom-table__row">
                        <div class="custom-table__cell">Self-protection</div>
                        <div class="custom-table__cell">
                          <ul class="custom-table__cell-list">
                            <li>Set a budget in advance</li>
                            <li>Set a time limit in advance</li>
                            <li>Protecting your accounts with password access</li>
                            <li>Read and understand information privacy</li>
                            <li>Make sure you are playing in a secure and safe environment</li>
                            <li>Use secure payment methods</li>
                            <li>Keep track of your funds regularly</li>
                          </ul>
                        </div>
                      </div>
                      <div class="custom-table__row">
                        <div class="custom-table__cell">Protecting those around you</div>
                        <div class="custom-table__cell">
                          <ul class="custom-table__cell-list">
                            <li>Restricting account access to minors</li>
                            <li>Never put gambling before friends and family, especially minors</li>
                            <li>Do not leave minors unattended when a gambling site is running</li>
                            <li>Ensure minors do not access gambling services via personal devices</li>
                          </ul>
                        </div>
                      </div>
                      <div class="custom-table__row">
                        <div class="custom-table__cell">Prevention of underage gambling</div>
                        <div class="custom-table__cell">Verify player identity to prevent minors from gambling (under 18 years old</div>
                      </div>
                      <div class="custom-table__row">
                        <div class="custom-table__cell">Holding yourself accountable</div>
                        <div class="custom-table__cell">
                          <ul class="custom-table__cell-list">
                            <li>Join a self-exclusion program</li>
                            <li>Gambling should never interfere with your personal relationships</li>
                            <li>Never gamble to escape from personal problems in life</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <br>
                  <h2>Recognizing A Gambling Problem</h2>
                  <p>Gambling addiction is similar to other addictions where the individual is unable to stop gambling even when they realize that their behavior is hurting themselves or others. If you or a loved one have difficulties walking away from gambling, is gambling with borrowed or stolen funds, keeping secrets regarding gambling activities, causing others to worry due to gambling, or losing a relationship, career, or education over gambling, chances are that you have a gambling problem. </p>
                  <br>
                  <h2>Helping A Loved One With Gambling Addiction</h2>
                  <p>If you have a loved one with gambling addiction, try not to be judgmental or threatening. Instead, encourage him or her to seek help through therapy, counseling, or support groups and support them throughout their recovery process. Organize an intervention to voice your concern in a supportive and positive tone. Due to the higher suicide rates among gamblers, keep a lookout for suicidal ideation. </p>
                  <br>
                  <h2>Resources</h2>
                  <p>If you recognize that you or a loved one have issues with gambling, it is time to seek help. There are many ways to start, even if it is a small step. As the saying goes, a journey of a thousand miles begins with a single step. </p>
                  <br>
                  <h3>Support</h3>
                  <p>Reach out for support from your friends and family. Avoid isolating yourself and find healthier ways to socialize and keep yourself distracted with a new hobby or other activities. There are also many other ex-gamblers out there who can provide great advice on how to stop gambling. You can find them online or through a local group. </p>
                  <br>
                  <div class="info-box">
                    <div class="info-box__cell">
                      <div class="info-box__img">
                        <img src="data/glass.svg" width="60" height="60" alt="glass">
                      </div>
                      <div class="info-box__cell-title"> Malaysia Gamblers Anonymous</div>
                      <div class="info-box__cell-text"> 
                        <p>Gambling Therapy is a global service offering free practical advice and emotional support to anyone affected by problem gambling.  </p>
                        <p><b>Email : <a href="mailto:support@gamblingtherapy.org">support@gamblingtherapy.org</a></b></p>
                      </div>
                    </div>
                    <div class="info-box__cell">
                      <div class="info-box__img">
                        <img src="data/mouse-circle.svg" width="60" height="60" alt="glass">
                      </div>
                      <div class="info-box__cell-title">Malaysian Government Portal</div>
                      <div class="info-box__cell-text"> 
                        <p>Healthcare for Malaysians is largely free. If required, head to the nearest klinik kesihatan (government clinic) and ask to see a doctor for a referral to a specialist (psychiatrist).</p>
                        <p>If you are already seeing a psychologist, your psychologist can also prepare a referral letter. </p>
                      </div>
                    </div>
                  </div>
                  <br>
                  <h3>Government Mental Health Clinics (Klinik Mentari)</h3>
                  <p>A new initiative by the Ministry of Health to improve mental health, you can reach out to the <b style="color: #3939A3;">different branches</b> in various states across Malaysia. </p>
                  <div class="accordion">
                    <div class="accordion__item">
                      <div class="accordion__item-head">
                        <div class="accordion__item-img">
                          <img src="data/GEM-Helpline.png" width="80" height="80" alt="GEM-Helpline">
                        </div>
                        <div class="accordion__item-title">GEM Helpline</div>
                        <div class="accordion__item-btn"></div>
                      </div>
                      <div class="accordion__item-body">
                        <p>We looked into each operator’s withdrawal process to see if they have a good range of withdrawal options available and the expected time required before the funds reach your account. </p>
                      </div>
                    </div>
                    <div class="accordion__item">
                      <div class="accordion__item-head">
                        <div class="accordion__item-img">
                          <img src="data/Association-Malaysia.png" width="80" height="80" alt="Association-Malaysia">
                        </div>
                        <div class="accordion__item-title">Life Line Association Malaysia</div>
                        <div class="accordion__item-btn"></div>
                      </div>
                      <div class="accordion__item-body">
                        <p>We looked into each operator’s withdrawal process to see if they have a good range of withdrawal options available and the expected time required before the funds reach your account. </p>
                      </div>
                    </div>
                    <div class="accordion__item">
                      <div class="accordion__item-head">
                        <div class="accordion__item-img">
                          <img src="data/Cavalry-Life-Ministries.png" width="80" height="80" alt="Cavalry-Life-Ministries">
                        </div>
                        <div class="accordion__item-title">Cavalry Life Ministries</div>
                        <div class="accordion__item-btn"></div>
                      </div>
                      <div class="accordion__item-body">
                        <p>We looked into each operator’s withdrawal process to see if they have a good range of withdrawal options available and the expected time required before the funds reach your account. </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="blog-page__aside">
                <div class="blog-page__aside-box">
                  <div class="blog-page__aside-img">
                    <img src="data/aside-img.jpg" width="362" height="372" alt="aside-img">
                  </div>
                  <div class="blog-page__aside-row">
                    <div class="blog-page__aside-row-title">Popular Casino</div>
                    <ul class="blog-page__aside-list">
                      <li class="blog-page__aside-list-item">
                        <a href="#" class="blog-page__aside-list-link">
                          <img src="data/Trusted-Online-Casinos.svg" width="36" height="36" alt="Trusted-Online-Casinos">
                          <span>Trusted Online Casinos</span>
                        </a>
                      </li>
                      <li class="blog-page__aside-list-item">
                        <a href="#" class="blog-page__aside-list-link">
                          <img src="data/Free-SGD-Credit-Casinos.svg" width="36" height="36" alt="Free-SGD-Credit-Casinos">
                          <span>Free SGD Credit Casinos</span>
                        </a>
                      </li>
                      <li class="blog-page__aside-list-item">
                        <a href="#" class="blog-page__aside-list-link">
                          <img src="data/Live-Casinos.svg" width="36" height="36" alt="Live-Casinos">
                          <span>Live Casinos</span>
                        </a>
                      </li>
                      <li class="blog-page__aside-list-item">
                        <a href="#" class="blog-page__aside-list-link">
                          <img src="data/Mobile-Casinos.svg" width="36" height="36" alt="Mobile-Casinos">
                          <span>Mobile Casinos</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="blog-page__aside-row">
                    <div class="blog-page__aside-row-title">Casino Games</div>
                    <ul class="blog-page__aside-list">
                      <li class="blog-page__aside-list-item">
                        <a href="#" class="blog-page__aside-list-link">
                          <img src="data/Online-Slots-2.svg" width="36" height="36" alt="Online-Slots">
                          <span>Online Slots</span>
                        </a>
                      </li>
                      <li class="blog-page__aside-list-item">
                        <a href="#" class="blog-page__aside-list-link">
                          <img src="data/Online-Poker.svg" width="36" height="36" alt="Online-Poker">
                          <span>Online Poker</span>
                        </a>
                      </li>
                      <li class="blog-page__aside-list-item">
                        <a href="#" class="blog-page__aside-list-link">
                          <img src="data/Live-Roulette.svg" width="36" height="36" alt="Live-Roulette">
                          <span>Live Roulette</span>
                        </a>
                      </li>
                      <li class="blog-page__aside-list-item">
                        <a href="#" class="blog-page__aside-list-link">
                          <img src="data/Live-Blackjack.svg" width="36" height="36" alt="Live-Blackjack">
                          <span>Live Blackjack</span>
                        </a>
                      </li>
                      <li class="blog-page__aside-list-item">
                        <a href="#" class="blog-page__aside-list-link">
                          <img src="data/Live-Baccarat.svg" width="36" height="36" alt="Live-Baccarat">
                          <span>Live Baccarat</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="blog-page__aside-img blog-page__aside-img--sticky js-sticky">
                  <img src="data/aside-img.jpg" width="362" height="372" alt="aside-img">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include 'footer.html' %}
    {% include 'popup.html' %}
    {% include 'js.html' %}
  </body>
</html>