<footer class="footer">
  <div class="footer__btn-top js-scroll-top">
    <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M13 7L7 1L1 7" stroke="#1F1F1F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
  </div>
  <div class="footer__top">
    <div class="container">
      <div class="footer__top-box">
        <div class="footer__info">
          <div class="footer__logo">
            <img src="data/logo-footer.svg" width="152" height="31" alt="img">
            <a href="#" class="footer__logo-link"></a>
          </div>
          <div class="footer__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco </div>
          <div class="footer__safe">
            <div class="footer__safe-title">Is it Safe?</div>
            <div class="footer__safe-list">
              <div class="footer__safe-item"><img src="data/safe-1.png" width="120" height="48" alt="img"></div>
              <div class="footer__safe-item"><img src="data/safe-2.png" width="120" height="48" alt="img"></div>
              <div class="footer__safe-item"><img src="data/safe-3.png" width="120" height="48" alt="img"></div>
              <div class="footer__safe-item"><img src="data/safe-4.png" width="120" height="48" alt="img"></div>
            </div>
          </div>
        </div>
        <div class="footer__cell">
          <div class="footer__cell-title">Game Guides</div>
          <nav class="footer__nav">
            <ul class="footer__nav-list">
              <li><a href="#">Trusted Online Casinos</a></li>
              <li><a href="#">Live Casinos</a></li>
              <li><a href="#">Free Credit Casinos</a></li>
              <li><a href="#">Mobile Casinos</a></li>
              <li><a href="#">Free Credit Casinos</a></li>
              <li><a href="#">Sports Betting Websites</a></li>
              <li><a href="#">Football Betting</a></li>
            </ul>
          </nav>
        </div>
        <div class="footer__cell">
          <div class="footer__cell-title">Casino Games</div>
          <nav class="footer__nav">
            <ul class="footer__nav-list">
              <li><a href="#">Baccarat</a></li>
              <li><a href="#">Roulette</a></li>
              <li><a href="#">Online Slots</a></li>
              <li><a href="#">Blackjack</a></li>
            </ul>
          </nav>
        </div>
        <div class="footer__cell">
          <div class="footer__cell-title">About</div>
          <nav class="footer__nav">
            <ul class="footer__nav-list">
              <li><a href="#">Contact</a></li>
              <li><a href="#">Editorial Guidelines</a></li>
              <li><a href="#">How we Rate</a></li>
              <li><a href="#">Responsible Gambling</a></li>
            </ul>
          </nav>
        </div>
        <div class="footer__cell">
          <div class="footer__cell-title">Legal</div>
          <nav class="footer__nav">
            <ul class="footer__nav-list">
              <li><a href="#">Terms and Conditions</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Gambling Legislations</a></li>
            </ul>
          </nav>
          <ul class="social">
            <li>
              <a href="#" target="_blank" rel="nofollow">
                <svg width="12" height="12" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg">
                  <path d="M8.25 0H3.75C1.67925 0 0 1.67925 0 3.75V8.25C0 10.3208 1.67925 12 3.75 12H8.25C10.3208 12 12 10.3208 12 8.25V3.75C12 1.67925 10.3208 0 8.25 0ZM10.875 8.25C10.875 9.6975 9.6975 10.875 8.25 10.875H3.75C2.3025 10.875 1.125 9.6975 1.125 8.25V3.75C1.125 2.3025 2.3025 1.125 3.75 1.125H8.25C9.6975 1.125 10.875 2.3025 10.875 3.75V8.25Z" />
                  <path d="M6 3C4.34325 3 3 4.34325 3 6C3 7.65675 4.34325 9 6 9C7.65675 9 9 7.65675 9 6C9 4.34325 7.65675 3 6 3ZM6 7.875C4.9665 7.875 4.125 7.0335 4.125 6C4.125 4.96575 4.9665 4.125 6 4.125C7.0335 4.125 7.875 4.96575 7.875 6C7.875 7.0335 7.0335 7.875 6 7.875Z" />
                  <path d="M9.22481 3.17464C9.44558 3.17464 9.62456 2.99567 9.62456 2.77489C9.62456 2.55411 9.44558 2.37514 9.22481 2.37514C9.00403 2.37514 8.82506 2.55411 8.82506 2.77489C8.82506 2.99567 9.00403 3.17464 9.22481 3.17464Z" />
                </svg>
              </a>
            </li>
            <li>
              <a href="#" target="_blank" rel="nofollow">
                <svg width="8" height="12" viewBox="0 0 8 12" xmlns="http://www.w3.org/2000/svg">
                  <path d="M7.16924 0.0024968L5.52452 0C3.67674 0 2.48262 1.15914 2.48262 2.95322V4.31485H0.828928C0.68603 4.31485 0.570312 4.42446 0.570312 4.55966V6.53251C0.570312 6.66771 0.686162 6.77719 0.828928 6.77719H2.48262V11.7553C2.48262 11.8905 2.59833 12 2.74123 12H4.89883C5.04173 12 5.15744 11.8904 5.15744 11.7553V6.77719H7.09099C7.23389 6.77719 7.34961 6.66771 7.34961 6.53251L7.3504 4.55966C7.3504 4.49474 7.32309 4.43257 7.27466 4.38663C7.22624 4.34069 7.16026 4.31485 7.09165 4.31485H5.15744V3.16058C5.15744 2.60579 5.29717 2.32415 6.06101 2.32415L7.16897 2.32377C7.31174 2.32377 7.42745 2.21416 7.42745 2.07909V0.247183C7.42745 0.112231 7.31187 0.00274648 7.16924 0.0024968Z" />
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="container">
      <div class="footer__bottom-box">
        <div class="footer__bottom-left">
          <div class="footer__certified">
            <div class="footer__certified-title">Website is certified by:</div>
            <div class="footer__certified-list">
              <div class="footer__certified-item"><img src="data/certified-1.jpg" width="88" height="34" alt="certified"></div>
              <div class="footer__certified-item"><img src="data/certified-2.jpg" width="88" height="34" alt="certified"></div>
              <div class="footer__certified-item"><img src="data/certified-3.jpg" width="88" height="34" alt="certified"></div>
            </div>
          </div>
        </div>
        <div class="footer__bottom-right">
          <div class="footer__copy">Copyright © 2022 All Rights Reserved</div>
        </div>
      </div>
    </div>
  </div>
</footer>