<header class="header">
  <div class="header__container container">
    <div class="header__left">
      <div class="header__logo">
        <img src="images/logo.svg" width="129" height="16" alt="logo">
        <a href="#" class="header__logo-link"></a>
      </div>
    </div>
    <div class="header__center">
      <nav class="header__nav">
        <ul class="header__nav-list">
          <li>
            <a href="#">
              <img src="data/casino.svg" width="16" height="17" alt="casino">
              Online Casino
            </a>
          </li>
          <li>
            <a href="#">
              <img src="data/Sports-Betting.svg" width="16" height="17" alt="Sports Betting">
              Online Sports Betting
            </a>
          </li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Reviews</a></li>
          <li><a href="#">Resources</a></li>
        </ul>
      </nav>
    </div>
    <div class="header__right">
      <a href="#" class="header__btn">Contact Us</a>
    </div>
  </div>
</header>